@import '~github-markdown-css/github-markdown.css';
@title-background-color: #f6f8fa;
@border-color: #d1d5da;
@border-radius: 6px;


.comment-feed-list {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .comment-feed {
    box-sizing: border-box;
    border: 1px solid @border-color;
    border-radius: @border-radius;
    max-width: 800px;
    width: 90%;
    margin: 16px 0;

    .meta {
      height: 40px;
      background-color: @title-background-color;
      border-bottom: 1px solid @border-color;
      border-top-left-radius: @border-radius;
      border-top-right-radius: @border-radius;
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #586069;

      img {
        height: 80%;
        border-radius: 50%;
        margin: 0 8px;
      }

      .username {
        color: #24292e;
        font-weight: 700;
        text-decoration: none;
        &:hover {
          color: #0366d6;
          text-decoration: underline;
        }
      }

    }
    .markdown-body {
      padding: 15px;
      font-size: 90%;
    }
  }
}
